swagger: '2.0'
info:
  description: >-
    The Star Wars API is the world's first quantified and
    programmatically-formatted set of Star Wars data. After hours of watching
    films and trawling through content online, we present to you all the People,
    Films, Species, Starships, Vehicles and Planets from Star Wars.
  version: ''
  title: SWAPI-The Star Wars API
host: swapi.co
basePath: /api
tags:
  - name: People
    description: >-
      A People resource is an individual person or character within the Star
      Wars universe.
schemes:
  - http
paths:
  /people/:
    get:
      tags:
        - People
      summary: get all the people resources
      description: Returns all characters in array
      produces:
        - application/json
      parameters:
        - name: name
          in: query
          description: Search with the name of this person.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/People'
        '301':
          description: Moved Permanently
        '404':
          description: Not found
  '/people/{character_id}':
    get:
      tags:
        - People
      summary: get a specific people resource
      description: Returns a single character
      produces:
        - application/json
      parameters:
        - name: character_id
          in: path
          description: ID of character to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/character_id'
        '301':
          description: Moved Permanently
        '404':
          description: Not found
  /people/schema:
    get:
      tags:
        - Schema
      summary: view the JSON schema for this resource
      description: ''
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Schema'
        '301':
          description: Moved Permanently
        '404':
          description: Not found
definitions:
  People:
    properties:
      count:
        type: integer
        example: 57
      next:
        type: string
        example: 'http://swapi.co/api/people/?page=2'
      previous:
        type: string
        example: null
      result:
        type: array
        items:
          $ref: '#/definitions/character_id'
  character_id:
    properties:
      birth_year:
        type: string
        example: 19 BBY
      eye_color:
        type: string
        example: Blue
      films:
        type: array
        items:
          type: string
          example: 'http://swapi.co/api/films/1/ '
      gender:
        type: string
        example: Male
      hair_color:
        type: string
        example: Blond
      height:
        type: string
        example: '187'
      homeworld:
        type: string
        example: 'http://swapi.co/api/planets/1/'
      mass:
        type: string
        example: '77'
      name:
        type: string
        example: Luke Skywalker
      skin_color:
        type: string
        example: Fair
      created:
        type: string
        example: '2014-12-09T13:50:51.644000Z'
      edited:
        type: string
        example: '2014-12-10T13:52:43.172000Z'
      species:
        type: array
        items:
          type: string
          example: 'http://swapi.co/api/species/1/ '
      starships:
        type: array
        items:
          type: string
          example: 'http://swapi.co/api/starships/12/ '
      url:
        type: string
        example: 'http://swapi.co/api/people/1/'
      vehicles:
        type: array
        items:
          type: string
          example: 'http://swapi.co/api/vehicles/14/'
  Schema:
    properties:
      $schema:
        type: string
        example: 'http://json-schema.org/draft-04/schema'
      description:
        type: string
        example: A person within the Star Wars universe
      properties:
        type: object
        properties:
          mass:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The mass of this person in kilograms.
          height:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The height of this person in meters.
          url:
            type: object
            properties:
              description:
                type: string
                example: The url of this resource
              type:
                type: string
                example: string
              format:
                type: string
                example: uri
          gender:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The gender of this person (if known).
          species:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The url of the species resource that this person is.
          skin_color:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The skin color of this person.
          eye_color:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The eye color of this person.
          created:
            type: object
            properties:
              description:
                type: string
                example: >-
                  The ISO 8601 date format of the time that this resource was
                  created.
              type:
                type: string
                example: string
              format:
                type: string
                example: date-time
          homeworld:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The url of the planet resource that this person was born on.
          hair_color:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The hair color of this person.
          birth_year:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: >-
                  The birth year of this person. BBY (Before the Battle of
                  Yavin) or ABY (After the Battle of Yavin).
          starships:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: An array of starship resources that this person has piloted
          name:
            type: object
            properties:
              type:
                type: string
                example: string
              description:
                type: string
                example: The name of this person.
          edited:
            type: object
            properties:
              description:
                type: string
                example: >-
                  the ISO 8601 date format of the time that this resource was
                  edited.
              type:
                type: string
                example: string
              format:
                type: string
                example: date-time
          films:
            type: object
            properties:
              type:
                type: string
                example: array
              description:
                type: string
                example: >-
                  An array of urls of film resources that this person has been
                  in.
          vehicles:
            type: object
            properties:
              type:
                type: string
                example: array
              description:
                type: string
                example: An array of starship resources that this person has piloted.
          required:
            type: array
            example:
              - name
              - height
              - mass
              - hair_color
              - skin_color
              - eye_color
              - birth_year
              - gender
              - homeworld
              - films
              - species
              - vehicles
              - starships
              - url
              - created
              - editedname
          type:
            type: string
            example: object
